@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}

body {
   background: #0a2a43; 

   
}
/* Section start*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#0a2a43, transparent);
    z-index: 10000;
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}


section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text {
    position: relative;
    font-size: 10em;
    color: #fff;
    z-index: 1;
    text-shadow: 5px 5px 10px  #0a2a43;
}
#road {
    z-index: 2;
}
/* main area*/

.content {
    margin-top: 50px;
    height: 393px;
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    padding: 20px;
}
.content h3 {
    font-size: 20px;
    padding: 10px;
    font-stretch: semi-expanded;
}


.title-section {
    margin: 177px 0px 0px 0px;
    color: white;

}
.title-section h4 {
    color: #fff;
}
.title{
    text-align: center;
    /* margin: 177px; */
}
.title p{
    line-height: 26px;
    color: #c1c1c1;
    font-size: 24px;
}

.title h1{
    font-size: 80px;
    font-weight: 200;
}

.item-main {
    margin: 130px 0px 0px 0px;
    text-align: center;
    padding-bottom: 100px;
}
.title-item {
    width: 220px;
    height: 185px;
    display: inline-block;
    margin: 0px 93px;
    text-align: left;
    padding-bottom: 177px;
    transition: all 1s;
}
.title-item:hover{
    
    cursor: pointer;
}
.title-item p{
    line-height: 26px;
    color: #c1c1c1;
}
.title-item .fa{
    border: 2px solid #fff;
    background-color: rgba(250, 250, 250, 0.01);
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
    margin-bottom: 20px;
    transition: all 1s;
}
.title-item .fa:hover{
    background: #fff;
    color: black;
    cursor: pointer;
}
/*content area*/
.body {
   width:fit-content;
   color: #fff;
    margin: 0 auto;
    padding: 50px 0px 150px;
    scroll-behavior: smooth;
}
.content1, .content2 {
    padding: 30px;
    margin-top: 90px;
}
.content1 .body-text {
    width: 400px;
    display: inline-block;
    margin: 80px 0px;
    padding: 25px;
}
.body h2 {
    font-size:40px;
    font-weight:300;
    line-height:120%;
    margin-bottom: 30px;
}
.body p{
    color: #7d7d7d;
    line-height: 26px;
    
}
td h1 {
    font-size: 40px;
    color:whitesmoke;
    padding: 20px 100px 16px 0px;
}

.content1 .pic {
    width: 748px;
    display: inline-block;
     border-radius: 10px;
    text-align: right;
}
img{
    border-radius: 10px;
}
.content2 .pic{
    width: 748px;
    display: inline-block;
   border-radius: 10px;
    text-align: left;
    padding: 23px;
    /*float: left;*/
}
.content2 .body-text {
    width: 400px;
    display: inline-block;
    /*float: left;*/
    margin: 92px 0px;
    padding: 23px 0px 23px 90px;
}
button{
    background: rgba(121, 44, 25, 0.315);
    padding: 16px 30px;
    border: 1px;
    border-radius: 3px;
    color: whitesmoke;
    cursor: pointer;
    transition: all 1s;
}
button:hover{
    background: white;
    color: #000;
}
